@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

.body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(47.08deg, #FF8A6D 3.75%, #F7B882 83.54%);
  font-family: 'Nothing You Could Say', sans-serif;                                               
  color: #fff;
}

.main-content {
  height: inherit;
  width: inherit;
  margin: 5em;
  background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.header {
  display: flex;
  justify-content: space-between;

}

.logo{
  width: 135px;
  height: 66.05px;
  margin-top: 1em;
  margin-left: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 0;
  margin-left:9.7%;
  max-width: 400px;
  color: #fff;
}

.content h1 {
  display: flex;
  flex-direction: column;
}

.heroYou {
  font: size 64px;
  color: #66160D;
}

button {
  border: none;
  background: none;
  padding: 0;
  transition-duration: 0.4s;
}

button:active {
  transform: translateY(4px);
}

.Search {
  display: -webkit-inline-box;
  flex-direction: row;
  color: #fff;
  /*max-height: 6em;*/
}

.Search img {
  display: inline;
  float: right;
  margin-left: 9.5em;
  margin-top: -1.6em;
  transform: rotate(35deg);
  height: 25px;
  width: 25px;
}

.Search img:active {
  transform: translateY(4px);
}

a{
  display:flex;
  align-items: center;
}

.connect {
  height: 40px;
  width: 140px;
  padding: 3px;
}

.Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 350px;
  float: right;
  margin-top: -9em;
  margin-right: 4em;
 border-radius: 5px;
 border: 1px solid rgba(255, 255, 255, 0.84);
 box-shadow: 2px 8px 20px -6px rgba(0,0,0,0.75);
}

.Main .Images {
   /* border-style: groove;*/
  margin-top: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
  margin-left: 5px;
/* border-style: groove;*/
}

.items img {
  max-width: 250px;
  align-items: center;
}

@media screen and (max-width: 900px) {
.Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
  float: right;
  margin-top: 2em;
  margin-right: 4em;
 border-radius: 5px;
 border: 1px solid rgba(255, 255, 255, 0.84);
 box-shadow: 2px 8px 20px -6px rgba(0,0,0,0.75);
}

.Main .Images {
 /*border-style: groove;*/
  margin-top: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
  margin-left: 5px;
 /*border-style: groove;*/
}

.items img {
  max-width: 250px;
  align-items: center;
}

}


/*
@media screen and (max-width: 900px) {
  .Main {
    display: block;
    max-width: 350px;
    position: absolute;
    top: 90%;
    left: 20%;
    height: 195px;
  }
}

*/

/*
CSS for Launchboard
*/

.bodyLaunch{
  display: block;
  background: #FDE6E6;
  background-repeat: no-repeat;
  font-family:  sans-serif;                                               
  color: #fff;
  height:100vh;
}


.headerLaunch{
  
  background: linear-gradient(85.83deg, #F9CFC5 2.64%, #FBAA88 34.07%, #FBC39E 54.2%, #FAD5C7 90.05%);
  height: 53.688vw;
  width: 90.146vw;
  border-radius: 3.770vw;
  margin-top: 1vw;
  margin-left: 3.968vw;
  

}

.navLaunch{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}



.navUser{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-right:1vw;

}

.navUserName{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #66160D;
}



.launchMiddle{
  display:flex;
  flex-direction: row;
  align-items: center;
}


.launchHeaderHeart{
  position: relative;
  margin-left:2.274vw;
  width: 33.603vw;
  height: 45.544vw;

}


.launchDetails{
  position: relative;
  display:flex;
  flex-direction: row;
  width: 41.379vw;
  height: 31.328vw;
  margin-left: 2.640vw;

}

.launchBackButton{
  width: 2.183vw;
  height: 2.183vw;
}

.backButton{
  width: 2.183vw;
  height: 2.183vw;
}

.launchMessageBoard{

  display:flex;
  flex-direction: column;
  align-items: center;
}


.launchCouples{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
  
  width:26.786vw;
  /*
  height: 108px;
  */
}

.launchUserName{
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 0.794vw;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.launchOwnerTag{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  display: flex;
  align-items: center;
  color: #66160D;
}



.launchUserInfo{
  display:flex;
  flex-direction: column;
  align-items: center;
}


.launchUser{
  Width:3.632vw;
  Height:3.503vw;

}

.launchHeartArrow{
  width: 7.804vw;
  height: 3.571vw;
}



.launchHeartLock{
  position:relative;
  width: 1.786vw;
  height: 3.108vw;
  margin-top:35.62px;
}

.launchMessageBar{
  position:relative;
  margin-top: 26px;
  width: 30.357vw;
  height: 7.474vw;
  left: 0px;
  top: 0px;
  background: #FEECE2;
  box-shadow: 0px 6px 11px 2px #F29C99;
  border-radius: 3.108vw;
}

#message {
  font-family: Texturina;
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  border:none;
  background: transparent;
  margin-top: 16.83px;
  margin-left:51.17px;
}

.launchSubmitButton{
  position:relative;
  font-weight: bold;
  font-family: Texturina;
  font-size:1.455vw;
  color: white; 
  width: 9.392vw;
  height: 3.968vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
  background: #66160D;
  border-radius: 1.323vw;
}




